body{
    background: white;
}

#messageTextarea {
    height: 150px;
}

form {
    width: 60%;
}


h3 {
    color: black;
    text-align: left;
    font-size: 36px;
}

span {
    color: gray;
}

p {
    color: black;
    text-align: left;
    font-size: 17px;
}
    
.project-name{
    color:#43759e;
    margin-top: 20px;
}

.container{
    font-size: 18px;
    margin-top: 100px;
    margin-bottom: 100px;
}