<div class="container text-center border-top">
    <div class="row p-5 mt-5">
            <div class="col-md-8">
                <h3 fw-bold style="font-size: 37px;">
                    This First Heading <span>Will Catch Your Eye</span>
                </h3>
                <p style="font-size: 18px;"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum
                    id ligula porta felis euismod semper. Praesent commodo cursus magna,
                    vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>
            <div class="col-4">
                <img src="../website/assets/img/1.jpg" class="rounded-circle mw-100" alt="keyboard">
            </div>
    </div>
</div>