<div class="container border-bottom ">
    <div class="row mt-5">
        <h3>Portfolio</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores ipsa, inventore voluptatem vitae optio facere unde! Magnam harum eaque quia 
            amet tempora qui minima in aperiam recusandae vel, dolor voluptatum.
        </p>
    </div>

    <div class="row mb-5">
        <div class="img col-sm-4">
            <img style="max-height: 250px;" class="img-responsive" src="../website/assets/img/big-project-image.png"></img>
            <h4 class="project-name">Project Name</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla sequi ipsam rem perspiciatis dolorem aperiam!</p>
        </div>

        <div class="img col-sm-4">
            <img style="max-height: 250px;" class="img-responsive" src="../website/assets/img/big-project-image.png"></img>
            <h4 class="project-name">Project Name</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi qui repudiandae, optio incidunt reiciendis reprehenderit.</p>
        </div>
            
        <div class="img col-sm-4">
            <img style="max-height: 250px;" class="img-responsive" src="../website/assets/img/big-project-image.png"></img>
            <h4 class="project-name">Project Name</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus explicabo aliquam fugiat, harum minima nesciunt!</p>
        </div>
    </div>
</div>
