<div class="container border-bottom ">
    <div class="row mt-5">
        <h3>Porfolio</h3>
        <p class="porfolio-description"> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum
            id ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>

    <div class="row mb-5">
        <div class="img col-sm-4">
            <img style="max-height: 230px;" class="img-responsive" src="../website/assets/img/big-project-image.png"></img>
            <h4 class="project-name">Project Name</h4>
            <p class="porfolio-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida 
                pellentesque urna varius vitae.
            </p>
        </div>

        <div class="img col-sm-4">
            <img style="max-height: 230px;" class="img-responsive" src="../website/assets/img/big-project-image.png"></img>
            <h4 class="project-name">Project Name</h4>
            <p class="porfolio-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida 
                pellentesque urna varius vitae.
            </p>
        </div>
            
        <div class="img col-sm-4">
            <img style="max-height: 230px;" class="img-responsive" src="../website/assets/img/big-project-image.png"></img>
            <h4 class="project-name">Project Name</h4>
            <p class="porfolio-text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida 
                pellentesque urna varius vitae.
            </p>
        </div>
    </div>
</div>
