<div class="container text-center border-top border-bottom">
    <div class="row p-5 align-items-center mt-5">
        <div class="clearfix">
            <img src="../website/assets/img/2.jpg" class="rounded-circle col-md-4 float-md-start mb-5 ms-md-3" alt="keyboard">
            <h3>
                The Second Heading <span>Is Pretty Cool Too.</span>
            </h3>
            <p> Donec ullamcorper nulla non metus auctor fringilla. Vestibulum
                id ligula porta felis euismod semper. Praesent commodo cursus magna,
                vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
</div>