<div id="Services" class="container text-center border-top border-bottom">
    <div class="row g-0 p-5 mt-5">
        <div class="d-inline-flex">
            <img src="../website/assets/img/2.jpg" class="rounded-circle mw-100" alt="keyboard">
            <div>
                <h3 class="h2" style="font-size: 37.5px;">
                    The Second Heading <span>Is Pretty Cool Too.</span>
                </h3>
                <p style="font-size: 17.5px;"> 
                    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum
                    id ligula porta felis euismod semper. Praesent commodo cursus magna,
                    vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                </p>
            </div>
        </div>
    </div>
</div>