<div class="container-fluid p-0 text-center border-top border-bottom">
    <img src="../website/assets/img/bg.jpg" class="img-fluid" alt="...">
    <div class="centrado">
        <div class="row bg-light">
            <h1>
                One Page Wonder
            </h1>
        </div>
        <div class="row">
            <p>
                
            </p>
        </div>
        <div class="row bg-light">
            <h2>
                Will Knock Your Socks Off
            </h2>
        </div>
    </div>
</div>